set pagination off
set startup-quietly on

set print symbol-loading off
set print inferior-events off
set print thread-events off

set breakpoint pending on
set debuginfod enabled on

set debug timestamp on
set confirm off

set detach-on-fork on
set schedule-multiple off
set follow-fork-mode parent

source /opt/gkr-debug/breakpoints.gdb
source /opt/gkr-debug/catchpoints.gdb

# shell logger "Queueing signal 0 in defork1.gdb"

# set $mypid = (int)getpid()
# | print $mypid | logger "some stuff $(cat) in defork1.gdb"

# source /opt/gkr-debug/watchpoints.gdb

queue-signal 0
signal 0

quit
