#!/bin/bash

pid=${1:-}

screen -L -d -m -Logfile  "${HOME}/.local/log/screen.$pid.log"  \
     /usr/bin/gdb \
    --silent \
    -p $pid \
    -ex "set logging enabled off" \
    -ex "set logging redirect off" \
    -ex "set logging file ${HOME}/.local/log/gdb.log" \
    -ex "set logging enabled on" \
    -x "{{ gkr_gdb_script_path }}"
